/**
 * Licensed to Apereo under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Apereo licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*
 * general styling shared by survey pages
 */
.browsehappy { /* this used? */
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html, html body, html div.view {
  display: block;
  min-height: 100%;
  height: 100%; }

.modal-hider { /* this used? */
  display: block;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.666667); }

[ng-cloak] {
  display: none; }

/*
 * survey (end-user) styling
 */
survey {
    padding: 3em;
    position: relative;
    margin: 0 auto;
}

.survey header {
    margin-bottom: 1.5em;
}

.survey header .title {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 0.5em;
}

.survey .survey-nav {
    margin-bottom: 1.5em;
}
.survey .question survey-question section {
    padding: 0;
}

.survey .question survey-question section > label {
    padding: 0.75em 1.5em;
    width: 100%;
    vertical-align: top;
}

.survey .question survey-question section .answer {
    padding: 0 1.5em;
}

.survey .question survey-question section .answer label {
    font-weight: normal;
}

.survey .question survey-question section .answer label input {
    margin-right: 4px;
}

.survey .survey-modal {
    background-color: white;
    color: black;
    z-index: 1051;
    position: fixed;
    width: 80%;
    left: 10%;
    top: 5%;
}

/*
 * survey admin styling
 */
.surveys section.survey {
  padding: 3em;
  position: relative;
  margin: 0 auto; }
  .surveys section.survey header {
    margin-bottom: 1.5em; }
    .surveys section.survey header .title {
      font-size: 1.3em;
      font-weight: bold;
      margin-right: 0.5em; }
  .surveys section.survey .survey-nav {
    margin-bottom: 1.5em; }
  .surveys section.survey .question survey-question section {
    padding: 0; }
    .surveys section.survey .question survey-question section > label {
      padding: 0.75em 1.5em;
      width: 100%;
      vertical-align: top; }
    .surveys section.survey .question survey-question section .answer {
      padding: 0 1.5em; }
      .surveys section.survey .question survey-question section .answer label {
        font-weight: normal; }
      .surveys section.survey .question survey-question section .answer label input {
        margin-right: 4px; }
  .surveys section.survey .survey-glob { /* still used? */
    margin-top: 1.5em; }
  .surveys section.survey .survey-modal {
    background-color: white;
    color: black;
    z-index: 1051;
    position: fixed;
    width: 40%;
    left: 30%;
    top: 10%; }
.surveys .edit-mode .question {
  background-color: rgba(50, 50, 50, 0.1);
  margin-bottom: 1em;
  padding: 1em; }
.surveys .edit-mode .answer {
  background-color: rgba(50, 50, 50, 0.1);
  margin-bottom: 1em;
  padding: 1em; }
.surveys .edit-mode .content.collapsed {
  display: none; }

.collapser {
  transition: transform 0.25s ease;
  transform: rotateZ(0); }
  .collapser.flipped {
    transform: rotateZ(-180deg); }

/*
 * summary portlet styling
 */
.summary header p.description {
    background-color: #ddd;
    margin-left: 12px;
    padding: 4px;
}

.summary header p.responseCount {
    font-size: smaller;
    font-weight: bolder;
}

.summary section.question table {
    margin: 13px 10px 11px 10px;
    width: auto;
}

.summary section.question table th {
    color: white;
    background-color: #61009F;
    padding: 7px 10px;
}

.summary section.question table td {
    padding: 2px;
}

.summary section.question table td:first-child {
    font-size: smaller;
    font-weight: bolder;
    width: 3em;
    padding-right: 5px;
    text-align: right;
}
